# Usefull with:
#
#    cat <<EOF > ~/.local/bin/podiff
#    #!/bin/sh
#    grep -v '^#:' "$1"
#    EOF
#    chmod a+x ~/.local/bin/podiff
#    git config diff.podiff.textconv podiff

*.po diff=podiff
*.pot diff=podiff
